<h1>New Subforum</h1>
<form class="" action="<%=subs_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label for="title"></label>
  <input id="title" type="text" name="sub[title]" placeholder="Title">
  <label for="description"></label>
  <input id="description" type="text" name="sub[description]" placeholder="description">
  <input type="submit">
</form>
