<h1>Sub show page</h1>
Title: <%= @sub.title %> <br>
Description: <%= @sub.description %> <br>
<%= link_to 'Edit this sub', edit_sub_url(@sub), method: :get %>
<%= link_to 'Make a new post', new_sub_url(@sub), method: :get %>
